body {
  background-color: rgb(78, 78, 194);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

#title,
#description {
  text-align: center;
}

#survey-form {
  background-color: rgb(46, 44, 71, 0.8);
  /* background: var(--color-darkblue-alpha); */
  width: 50%;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#textarea {
  width: 95%;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#submit {
  width: 100%;
  height: 35px;
  background-color: rgba(55, 175, 101, 255);
  color: white;
  border: 0ch;
  border-radius: 2px;
  cursor: pointer;
}

#name,
#email,
#number {
  width: 100%;
  height: 20px;
  border-radius: 2px;
  border: 0ch;
  color: grey;
}
#dropdown {
  width: 101%;
  height: 20px;
  border-radius: 2px;
  border: 0ch;
  color: grey;
}
